*{
    margin:0;
    padding:0;

}


.content {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #333
}

i {
    color:white;
}


.pulse {
    height:100px;
    width:100px;
    background-color: purple;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.pulse:before {
content:"";
position: absolute;
width: calc(100%+40px);
height:calc(100%+40px);
border-radius:50%;
border:1px solid purple;
animation:animate 1.5s linear infinite;
}



.pulse:after{
    content:"";
    position: absolute;
    width: calc(100% + 40px);
    height:  calc(100% + 40px);
    border-radius: 50%;
    border:2px solid purple;
    animation:animate 1.5s linear infinite;
    animation-delay: 0.4s;
    
}


@keyframes animate{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.4);
        opacity: 0;
    }
}

